@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap')

body {
  margin: 0;
  font-family: 'PT Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-menu {
  background-color: transparent!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  border: 0!important;
}

.inverted .main-menu {
  background-color: #000!important;
}

.ui.items>.item>.content>.header,
.segment, .item {
  font-family: 'PT Serif', serif!important;
}

#root {
  background-color: #fbe6d9;
}

.main-container .inverted,
.segment .inverted {
  color: #fff!important;
}
a {
  color: #000;
}
a:hover {
  color: #8f00af;
}
.inverted a {
  color: #f44!important;
}

.inverted span {
  color: #200;
}

.inverted h4 a,
.inverted .main-menu,
.inverted .main-menu .item,
.inverted .header,
.inverted .ui.toggle.checkbox input:checked~label,
.inverted .description,
.inverted td {
  color: #FFF!important;
}
.ui.basic.button {
  color: purple;
}
.inverted .ui.basic.button {
  color: red;
}

.dropdown .inverted {
  background-color: #333!important;
}

.inverted .menu a {
  color: #fff!important;
}

.ui.table,
.ui.table tr td {
 background: transparent!important;
 border: 0;
 padding: 0;
}
.ui.table a {
  color: #444;
}
.ui.table a:hover {
  color: purple;
}
.inverted a:hover {
  color: #871b14!important;
}
.ui.compact.table td {
  padding-top: 0.3em;
  border-top: 0;
  border-bottom: 0;

}
.minimal.news.row {
  font-size: 1.2rem;
  height: 40px;
}

.minimal.news.header {
  font-weight: bolder;
}
.row.mobile.only .minimal.news.row {
  font-size: 1.2rem;
  min-height: 75px;
}
.row.mobile.only .favorite-field {
  width:40px!important;
  border: 3px solid yellow;
}
.inverted .large.star {
  color: #ebd936;
}
.large.star {
  text-shadow: 0 0 3px #FFF;
  color: #8f00af;
}
.large.star.outline {
  text-shadow: none;
}
