body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.segment .inverted {
  background-color: #333;
}

.inverted a {
  color: #f44!important;
}

.inverted span {
  color: #200;
}

.inverted h4 a,
.inverted .header,
.inverted .ui.toggle.checkbox input:checked~label,
.inverted .description,
.inverted td {
  color: #FFF!important;
}

.dropdown .inverted {
  background-color: #333!important;
}

.inverted .menu a {
  color: #fff!important;
}
